// -------- Colors --------
// Basic colors
$Primary: #001C55;
$Secondary: #028090;
$Grey: #404040;
$Black: #000000;
$White: #f2f2f2;
$Transparent: rgba(0, 0, 0, 0.1);
// Complementary colors
$Accent: #ed831e;
$Warn: #f44336;
$Green: #085808;
$DarkGrey: #2d323e;
$Dark: rgb(30, 33, 41);
$CoolGrey11: #a9a9a994;
