
.mat-card{
  background-color: rgb(72, 106, 168);
  color: white;
}

.strong{
  margin: auto;
}

table {
  width: 90%;
  margin: auto;
}

button{
  margin-block-end: auto;
  margin-left: 45%;
}


.docente {
 margin-left: 35%;
}

.materia {
  float: right; 
}
/*
div.left {}

  div.right {}
*/

.contenedor {
  width: 60%;
  margin-left: 20%;
}



